/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 13, ../../app/_scss/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../../app/_scss/main.scss */
html {
  font-size: 16px;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, ../../app/_scss/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, ../../app/_scss/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 46, ../../app/_scss/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 60, ../../app/_scss/main.scss */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
  max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */
/* line 73, ../../app/_scss/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 83, ../../app/_scss/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 91, ../../app/_scss/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 102, ../../app/_scss/main.scss */
body {
  max-width: 100%;
  margin: 0 auto;
  background: #FD5D01;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-weight: 300;
}

/* line 113, ../../app/_scss/main.scss */
pre, code {
  font-weight: 300;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 125, ../../app/_scss/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 134, ../../app/_scss/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 150, ../../app/_scss/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 164, ../../app/_scss/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 180, ../../app/_scss/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 186, ../../app/_scss/main.scss */
.clearfix:after {
  clear: both;
}

/* line 1, ../../app/_scss/regular.scss */
ul {
  padding-left: 1em;
}

/* line 9, ../../app/_scss/regular.scss */
.links-white-background a, #header a, #showroom a, #content a {
  color: #FD5D01;
  text-decoration: none;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

/* line 18, ../../app/_scss/regular.scss */
.pull-left {
  float: left !important;
}

/* line 21, ../../app/_scss/regular.scss */
.pull-right {
  float: right !important;
}

/* line 25, ../../app/_scss/regular.scss */
.container {
  padding: 0.7em 1.5em;
}

/* line 29, ../../app/_scss/regular.scss */
#header {
  background: #FFFFFF;
  color: #FD5D01;
}
/* line 35, ../../app/_scss/regular.scss */
#header #menu ul {
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  padding-left: 0;
}
/* line 41, ../../app/_scss/regular.scss */
#header #menu ul li {
  float: left;
}
/* line 48, ../../app/_scss/regular.scss */
#header #social ul {
  list-style: none;
}
/* line 50, ../../app/_scss/regular.scss */
#header #social ul li {
  float: left;
  margin-right: 0.5em;
}
/* line 56, ../../app/_scss/regular.scss */
#header #social a {
  font-weight: 700;
}

/* line 62, ../../app/_scss/regular.scss */
#content-page {
  width: 70%;
  margin: 0 auto;
}
/* line 66, ../../app/_scss/regular.scss */
#content-page #manifiesto {
  list-style: none;
  padding-left: 0;
}
/* line 70, ../../app/_scss/regular.scss */
#content-page #manifiesto li {
  width: 63%;
  background: #FFFFFF;
  color: #FD5D01;
  padding: 0.3em 1em 2em 1em;
  margin: 1em auto;
}

/* line 80, ../../app/_scss/regular.scss */
#showroom {
  background: #ffffff;
  color: #FD5D01;
  min-height: 20em;
}
/* line 88, ../../app/_scss/regular.scss */
#showroom #menu ul {
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  padding-left: 0;
}
/* line 97, ../../app/_scss/regular.scss */
#showroom #social ul {
  list-style: none;
}
/* line 99, ../../app/_scss/regular.scss */
#showroom #social ul li {
  float: left;
  margin-right: 0.5em;
}
/* line 105, ../../app/_scss/regular.scss */
#showroom #social a {
  font-weight: 700;
}

/* line 112, ../../app/_scss/regular.scss */
#form #mc_embed_signup {
  background: #fd5d01;
}

/* line 117, ../../app/_scss/regular.scss */
#content {
  background: #ffffff;
  color: #FD5D01;
  min-height: 315px;
}
/* line 123, ../../app/_scss/regular.scss */
#content #news {
  width: 350px;
  margin-left: 1em;
}
/* line 126, ../../app/_scss/regular.scss */
#content #news ul {
  list-style: none;
  padding-left: 0;
}
/* line 129, ../../app/_scss/regular.scss */
#content #news ul li {
  padding-bottom: 8px;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 70em) {
  /* line 199, ../../app/_scss/main.scss */
  header#header {
    margin-top: 2em;
  }
  /* line 201, ../../app/_scss/main.scss */
  header#header #logo {
    float: left;
  }
  /* line 205, ../../app/_scss/main.scss */
  header#header #title {
    float: left;
  }
  /* line 209, ../../app/_scss/main.scss */
  header#header #menu {
    float: right;
  }
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 231, ../../app/_scss/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 238, ../../app/_scss/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 243, ../../app/_scss/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 247, ../../app/_scss/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 255, ../../app/_scss/main.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 260, ../../app/_scss/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 266, ../../app/_scss/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 270, ../../app/_scss/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 275, ../../app/_scss/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 283, ../../app/_scss/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 290, ../../app/_scss/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
