/* line 1, ../../app/_scss/regular.scss */
ul {
  padding-left: 1em;
}

/* line 9, ../../app/_scss/regular.scss */
.links-white-background a, #showroom a, #content a {
  color: #FD5D01;
  text-decoration: none;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

/* line 18, ../../app/_scss/regular.scss */
.pull-left {
  float: left !important;
}

/* line 21, ../../app/_scss/regular.scss */
.pull-right {
  float: right !important;
}

/* line 25, ../../app/_scss/regular.scss */
.container {
  padding: 0.7em 1.5em;
}

/* line 29, ../../app/_scss/regular.scss */
#showroom {
  background: #ffffff;
  color: #FD5D01;
  min-height: 20em;
}
/* line 37, ../../app/_scss/regular.scss */
#showroom #menu ul {
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  padding-left: 0;
}
/* line 46, ../../app/_scss/regular.scss */
#showroom #social ul {
  list-style: none;
}
/* line 48, ../../app/_scss/regular.scss */
#showroom #social ul li {
  float: left;
  margin-right: 0.5em;
}
/* line 54, ../../app/_scss/regular.scss */
#showroom #social a {
  font-weight: 700;
}

/* line 61, ../../app/_scss/regular.scss */
#form #mc_embed_signup {
  background: #fd5d01;
}

/* line 66, ../../app/_scss/regular.scss */
#content {
  background: #ffffff;
  color: #FD5D01;
  min-height: 315px;
}
/* line 72, ../../app/_scss/regular.scss */
#content #news {
  width: 350px;
  margin-left: 1em;
}
/* line 75, ../../app/_scss/regular.scss */
#content #news ul {
  list-style: none;
  padding-left: 0;
}
/* line 78, ../../app/_scss/regular.scss */
#content #news ul li {
  padding-bottom: 8px;
}
