<div class='clearfix'></div>
<footer id='footer' class='container'>

  <div class='row'>

    <div id="pre-footer">
      <img src="/img/logo.png">

      <ul id='social'>
        <li><a href='https://www.youtube.com/channel/UC9UYFFr_Gu6GnVfZrEY6wpg'><img src='/img/yb.png'></a></li>
        <li><a href='https://twitter.com/libertariocol'><img src='/img/tb.png'></a></li>
        <li><a href='https://facebook.com/libertarioco'><img src='/img/fb.png'></a></li>
      </ul>
    </div>

    <div id="final-footer">

      <small>© Todos los derechos reservados, 2016 | Movimiento Libertario de Colombia.</small>

    </div> <!-- end of .twelvecol -->

  </div> <!-- end of .row -->
</footer>

</body>
</html>
