<header id="header" class='container'>
  <div class='row container'>
    <div id='menu' class='twocol pull-left'>
      <a href='/' class='pull-left'><img src='/img/logo-128x128.png'></a>
      <ul>
        <li><a href='#'>QUIENES</a></li>
        <li><a href='/manifiesto.html'>MANIFIESTO</a></li>
        <li><a href='#'>PROYECTOS</a></li>
      </ul>
    </div><!-- #menu.twocol -->

    <div id='social' class='twocol pull-right'>
      <ul>
        <li><a href='https://www.youtube.com/channel/UC9UYFFr_Gu6GnVfZrEY6wpg'><img src='/img/youtube.png'></a></li>
        <li><a href='https://twitter.com/libertariocol'><img src='/img/twitter.png'></a></li>
        <li><a href='https://facebook.com/libertarioco'><img src='/img/facebook.png'></a></li>
      </ul>
      <ul>
        <li><a href='https://asamblea.movimientolibertario.co/'>ASAMBLEA</li>
        <li><a href='https://foro.movimientolibertario.co/'>FORO</a></li>
      </ul>
    </div>

  </div><!-- end for .row.container -->

  <div class='clearfix'></div>
  
</header> <!-- end of #header.container -->
