ul {
  padding-left: 1em;
}

$background-blue-url: #13aae1;
$foreground-white: #ffffff;

.links-white-background {
  a {
    color: #FD5D01;
    text-decoration: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}

// Classes
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

#header {
  @extend .links-white-background;
  background: #FFFFFF;
  color: #FD5D01;

  #menu {
    ul {
      font-size: 20px;
      font-weight: 700;
      list-style: none;
      padding-left: 0;

      li { 
        float: left;
      }
    }
  }

  #social {
    ul {
      list-style: none;
      li {
        float: left;
        margin-right: 0.5em;
      }
    }

    a {
      font-weight: 700;
    }
  }
}

#content-page {
  width: 70%;
  margin: 0 auto;

  #manifiesto {
    list-style: none;
    padding-left: 0;

    li {
      width: 63%;
      background: #FFFFFF;
      color: #FD5D01;
      padding: 0.3em 1em 2em 1em;
      margin: 1em auto;
    }
  }
}

#showroom {
  background: url('../img/slider-00.png') no-repeat center center fixed;
  background-size: cover;

  min-height: 30em;

  #main-logo {
    float: right;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-right: 10%;
  }
}

#menu {
  background: #E75E1D;
  color: white;
  width: 100%;
  z-index: 9999;

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    padding-left: 0;
    list-style: none;

    li {
      display: inline;
      margin-left: 0.4em;
      margin-right: 0.4em;
    }
  }

  #social {
    padding-left: 7em;
  }

  #links {
    padding-right: 7em;
  }
}

#youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

	.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}
}

#quienes {

  background: url('../img/famous-quote.png') no-repeat center center fixed;
  background-size: cover;
  color: #262626;

  #quienes-q {
    max-width: 50%;
    float: left;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 15%;

    p {
      font-style: italic;
      text-align: left;
    }
  }

  min-height: 20em;
}

.content-space {
  width: 55%;
  margin: 0 auto;
  .content {
    padding: 0.3em 1.5em;
    background: #dbdbdb;
    color: #262626;
    width: 14em;
  }

  .unete {
    padding: 1em 1.5em;
    background: #dbdbdb;
    color: #262626;
    font-weight: bold;
    width: 14em;
    text-align: center;

    a {
      color: #262626;
      text-decoration: none;
    }
  }

  padding-top: 5em;
  padding-bottom: 9em;
}

#foro {
  img {
    width: 100%;
    height: auto;
  }

  .content {
    float: left;
  }

  .unete {
    float: right;
  }

  background: url('../img/foro.png') no-repeat center center fixed;
  background-size: cover;

  min-height: 20em;
}

#asamblea {
  img { 
    width: 100%;
    height: auto;
  }

  .content {
    float: right;
  }

  .unete {
    float: left;
  }

  background: url('../img/asamblea.png') no-repeat center center fixed;
  background-size: cover;

  min-height: 20em;
}

#famous-quote {
  img {
    width: 100%;
    height: auto;
  }

  background: url('../img/famous-quote.png') no-repeat center center fixed;
  background-size: cover;
  color: #262626;

  p {
    font-style: italic;
    text-align: right;
  }

  p.author {
    font-style: normal;
  }

  #famous-quote-q {
    max-width: 35%;
    float: right;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-right: 15%;
  }

  min-height: 20em;
}

#news {
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      display: block;
      float: left;
    
      width: 25%;
      height: auto;
      overflow: hidden;

      margin: 0;
      padding: 0;

      img {
        width: 100%;
      }
    }
  }
}

.section-title {
  text-align: right;
  font-size: 1em;
  padding-right: 2em;
  background: url('../img/Titulos.png') no-repeat right;
  min-height: 42px;
  padding-top: 15px;
}

#posts {

  .section-title {
    margin-right: 12em;
    margin-top: 0;
  }

  background: white;
  margin: 0 auto;
  ul {
    padding-left: 0;

    list-style: none;

    .posts-column {
      width: 20%;
      float: left;
      position: relative;
      background: #BD5C2B;
    } 
    .posts-column#zero {
      left: 15%;
    }

    .posts-column#one {
      left: 20%;
    }

    .posts-column#two {
      left: 25%;
    }

    li {
      display: inline-block;
      margin-top: 1em;
      margin-bottom: 5em;

      .title {
        a {
          font-weight: bold;
          color: white;
          text-decoration: none;
        }
        background: #BD5C2B;

        padding: 0.3em 1em;
      }

      .content {
        background: #BD5C2B;
        font-size: 0.7em;

        padding: 0.3em 1em;
        padding-bottom: 2em;
      }
    }
  }
}

#footer {
  #pre-footer {
    background: #333333;
    color: white;
    text-align: center;
    padding: 5em 0;

    ul#social {
      padding-top: 3em;
      list-style: none;
      padding-left: 0;
      li {
        display: inline;
        margin-left: 0.4em;
        margin-right: 0.4em;
      }
    }
  }
  #final-footer {
    background: #111111;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
}

@media only screen and (max-width: 70em) {
  .pull-right {
    float: none !important;
  }

  .pull-left {
    float: none !important;
  }


  #menu {
    #social {
      padding-top: 2em;
      margin-top: 0;
    }

    #links {
      padding-right: 0;
      display: inline-block;
      padding-left: 3em;
    }
  }

  .content-space {
    width: 72%;
  }

  #foro {
    .content {
      float: none;
    }

    .unete {
      float: none;
    }
  }

  #asamblea {
    .content {
      float: none;
    }

    .unete {
      float: none;
    }
  }

  #famous-quote {
    #famous-quote-q {
      max-width: 72%;
    }
  }

  #posts {
    .section-title {
      margin-right: 3em;
    }
    ul {
      li.posts-column {
        display: block;
        float: none;
        width: 72%;

        padding-bottom: 0.6em;
        margin-bottom: 1em;
      }

      .posts-column#zero {
        left: 15%;
      }

      .posts-column#one {
        left: 15%;
      }

      .posts-column#two {
        left: 15%;
      }
    }
  }

  #news {
    ul {
      li {
        width: 50%;
      }
    }
  }
}
